QLCDNumber {
  background-color: hsl(218, 42%, 79%);
  color: white;
  font-weight: 500;
  border: 1px;
}

QLCDNumber#clock_qlcd {
  background-color: #929292;
  color: black;
  font-weight: 500;
  border: 1px;
}

QLabel#cpu_stats_label {
  background-color: #b2c3e0;
  border-radius: 3px;
  font-family: Monaco;
  font-size: 30pt;
  color: white;
}

QLabel {
  font-weight: bold;
  font-size: 18pt;
}
