QLCDNumber {
  background-color: #660000;
  color: white;
  font-weight: 500;
  border: 1px;
}

QLabel#cpu_title {
  font-weight: bold;
  font-size: 20pt;
  border: 0px solid black;
}

QLabel {
  font-size: 16pt;
  border: 1px solid black;
}

QWidget#main_window1 {
  background-color: black;
}